<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Photography - Portfolio</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="dist/css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/navmenu-reveal.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/full-slider.css" rel="stylesheet">
    <link href="css/Icomoon/style.css" rel="stylesheet" type="text/css" />
    <link href="css/animated-masonry-gallery.css" rel="stylesheet" type="text/css" />
    <link href="css/lightbox.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="bar">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navmenu navmenu-default navmenu-fixed-left">
        <ul class="nav navmenu-nav">
            <li><a href="/app/website">Home</a></li>
            <li><a></a></li>
            <% for(var i =0; i < nav.length;i++) {%>
                <li><a href="<%=link[i]%>"><%=nav[i]%></a></li>
            <%}%>
        </ul>
    </div>

    <div class="canvas gallery"><br>
        <h1 class="blog-post-title text-center"><%=theme%> - <%=results[0].folder%></h1>
        <span class="title-divider"></span>

        <div id="container" class="container">
            <div id="gallery">
                <div id="gallery-header">
                    <div id="gallery-header-center">
                        <div id="gallery-header-center-left">
                            <div id="gallery-header-center-left-title"></div>
                        </div>
                        <div id="gallery-header-center-right">
                            <% for(var i = 1; i < (results.length/10) + 1; i++) {%>
                                <div class="gallery-header-center-right-links" alt="<%=results[(i-1)*10].subfolder%>" id="filter-<%=i%>"><%=i+Math.floor(indexnav/10)%>
                                </div>
                            <%}%>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                    </div>
                    <a class="nav nav-pills active" href="/navigation/folder/<%=results[0].folder%>" >Return to Photos</a><br>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <% for(var i = 0; i < results.length; i++) {%>
                                <video width="320" height="240" controls>
                                    <source src="assets/<%=theme%>/<%=results[i].folder%>/<%=results[i].filename%>" type="video/mp4">
                                </video>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.10.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/animated-masonry-gallery.js"></script>
    <script src="dist/js/jasny-bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/lightbox.ejs"></script>

</body>
</html>
